html{
	height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
}
#root{
	height: 100%;
}
header{
  height: 30px;
  background: black;
  color: white;
  padding:10px 20px;
  box-shadow: rgb(94, 94, 94) 0px 2px 6px 0px;
  z-index: 100;
  position: relative;
  min-width: 320px;
  user-select:none;
}
.header-text{
  font-weight:100;
  font-size:24px;
  vertical-align:middle;
  display:inline-block;
  padding-top:3px;
}
.sidebar{
	width:212px;
	background: grey;
	color:white;
	height: 100%;
  position: relative;
  display: inline-block;
  transition:transform 0.2s;
  z-index: 99;
  box-shadow: rgb(94, 94, 94) 0px 2px 6px 0px;
}
.sidebar-underlay{
  position: fixed;
  width:100%;
  height:calc(100% + 50px);
  margin-top: -50px;
  background: rgba(0,0,0,0.7);
  z-index: 98;
}
.sidebar-top-shadow{
  width:100%;
  height: 0px;
  box-shadow: rgb(50,50,50) -3px 1px 3px 1px;
  position: relative;
  z-index: 105;
}

.sidebar-node{
  padding:20px 20px;
  font-size:16px;
  background: #334499;
  cursor: pointer;
  user-select:none;
}
.sidebar-node:hover{
  background: #4455AA;
}
.sidebar-node-carat{
  height:12px;
  width:12px;
  margin-right:8px;
  transition:transform 0.1s;
}
.rotate{
  transform:rotate(0deg);
}
.sidebar-child{
  padding: 5px 14px;
  cursor: pointer;
}
.sidebar-child:hover{
  background: #118855;
}

.hamburger-icon{
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  height: 22px;
  margin-right: 16px;
  display: none;
}
.hamburger-icon svg{
  fill:#FFFFFF;
  stroke:#FFFFFF;
}
.hamburger-icon:hover svg{
  fill:#DDDDDD;
  stroke:#DDDDDD;
}


/***  Sidebar collapse animation  ***/
.collapser-enter{
  max-height: 0px;
  opacity: 0;
  transition: max-height 0.25s;
}
.collapser-enter-active{
  max-height: 162px;
  opacity: 0;
}
.collapser-leave{
  max-height: 162px;
  opacity: 1;
  transition: max-height 0.25s;
}
.collapser-leave-active{
  max-height: 0px;
  opacity: 0;
}
/* ************ */


/***  Sidebar underlay animation  ***/
.underlay-enter{
  opacity: 0;
  transition: opacity 0.25s;
}
.underlay-enter-active{
  opacity: 1;
}
.underlay-leave{
  opacity: 1;
  transition: opacity 0.25s;
}
.underlay-leave-active{
  opacity: 0;
}
/* ************ */

.page{
  position: absolute;
  top: 50px;
  height: calc(100% - 50px);
  transition:all 0.2s;
  overflow-y: scroll;
}
.page-fullwidth{
  left:0;
  width:100%
}
.page-partwidth{
  left:212px;
  width: calc(100% - 212px);
}
.pic-wrap{
  height: 300px;
  width:100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}
.page-title{
  position:absolute;
  top:20px;
  left:20px;
  font-size:27px;
  background: rgba(255,255,255,0.67);
  padding:3px 8px;
}


.section-pic{
  width:100%;
  margin-top: 32px;
}
.section-header{
  font-size:23px;
  margin-top:12px;
}
.section-intro{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.section-quote{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  background: #EEE;
  padding:10px 15px;
}
.section-questions{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin-top:6px;
}







